body {
    overflow-x: hidden;
}

.themes-container_dark {
    background-color: #1F323D;
}

.themes-container_default {
    background-color: #fafafa;
}

.themes__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    padding: 40px 80px;
}

@media screen and (max-width: 769px) {
    .themes__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .themes__inner {
        padding: 40px;
    }
}