.index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.index_dark {
    background-color: #1F323D;
}

.index_default {
    background-color: #fafafa;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}