.switch-checkbox {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch-checkbox__title {
    font-size: 1.125rem;
    font-weight: 400;
}

.switch-checkbox__title_dark {
    color: #E6E6E6;
}

.switch-checkbox__title_default {
    color: #646363;
}